<div class="w-full flex flex-col justify-center items-center lg:pt-2">
  <div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
      <div class="nav-title">Innobix</div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </div>
</div>
