<div class="w-full flex flex-col justify-center items-center lg:pt-2">
  <div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
      <div class="nav-title">Innobix</div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/template">Templates</a>
      <a routerLink="/login" *ngIf="getToken != true">Login</a>
      <a routerLink="/register" *ngIf="getToken != true">Register</a>
      <a routerLink="/login" *ngIf="getToken != false" (click)="logout()"
        >Logout</a
      >
    </div>
  </div>
</div>
